.card.ItemCard {
  height: 100%;
}

.cardTitle {
  height: 72px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemListImage {
  height: 262px;
  object-fit: contain;
  margin-top: 10px;
}

.col.ItemColumns {
  margin-bottom: 20px; 
  padding-bottom: 10px; 
}
