.aboutContent {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.aboutContent img {
  width: 40%;
  height: auto;
  border-radius: 20px;
  margin: 30px;
}
.aboutContent h1 {
  color: #975a2c;
  font-size: 4rem;
}
.aboutContent p {
  width: 80%;
  font-size: 1rem;
  text-align: justify;
}
