.carritoProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3d1a6;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--clr-main);
    padding-right: 1.5rem;
  }
  .carrito-producto small {
    font-size: 0.40rem;
  }
  .carrito-producto-titulo h3{
    font-size: 1.2rem;
  }
  .carrito-imagen {
    width: 4rem;
    border-radius: 1rem;
  }
  
  .carrito-producto-eliminar {
    border: 0;
    color: var(--clr-red);
    cursor: pointer;
    background-color: transparent;
  }