.itemDetailContainer {
    width: 60%;
    margin: 0 auto; 
    text-align: center;
    margin-top: 10px;
    background-color: azure;
  }
  
  .detailCarrousel {
    width: 100%;
    display: flex;
    justify-content: center; 
  }
  
  .detailCarrousel .carousel {
    width: 100%;
    max-width: 800px; 
  }
  
  .detailCarrousel img {
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    object-fit: contain; 
  }
  

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%); /* Hace que los iconos sean blancos */
  }

  .detailDescripcion{
    padding: 20px;
  }